#about{
    padding-top: 100px;
    margin-bottom: 100px;

    .col-md-6{
        padding: 20px 10px;
    }

    h3{
        margin: 20px auto;
    }
    /*poner esto en @media screen*/
    .size{
        width: 350px;
        margin: 0 auto;
    }
}