// .bg{
// }

#header{
    // background-image: url(../img/girls-fit-2.jpg);
    background-image: radial-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.1)), url(../img/girls-fit-2.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;

    .navbar-nav li a{
        float: right;
        color: white !important;
        font-weight: bold;
    }

    nav{
        img{
            width: 150px;
            margin-left: 30px;
        }
        .fa-bars{
            color: #fff !important;
            font-size: 26px;
        }   
    }
    
    .navbar-toggler{
        border: none !important;
        outline: none !important;
    }

}


